@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-image: asset-url('software-bug.jpeg');
  background-size: cover;
  height: 400px;
}
.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.jumbotron p {
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: x-large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
